services:
  server:
    build:
      context: .
      dockerfile: docker/local/Dockerfile
    environment:
      NODE_ENV: local
      DATABASE_URL: mysql://root:root@mysql:3306/db
      TEST_DATABASE_URL: mysql://root:root@mysql:3306/test
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    depends_on:
      - mysql

  mysql:
    image: mysql:9.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/local/mysql_init:/docker-entrypoint-initdb.d

volumes:
  node_modules:
  mysql_data:
